.Pokemon {
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  border-radius: 50%;
  filter: grayscale(70%);
  background: transparent;
  margin: 0.5rem;
}

.Pokemon:hover {
  animation: bounce 1s infinite;
  background: rgba(255, 255, 255, 0.05);
  filter: grayscale(0);
  box-shadow: inset 0 0 5px #eee, 0 0 5px #bbb;
}

.Pokemon:focus {
  animation: bounce 1s infinite;
}

.Pokemon > a,
.Pokemon > a:active,
.Pokemon > a:focus {
  outline: none;
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}
