.fade {
  height: 100vh;
  position: fixed;
  width: 100%;
  overflow: auto;
}

.fade > div {
  margin-right: auto;
  margin-left: auto;
}

.fade-enter {
  opacity: 0;
  transform: translateX(-100vw);
}

.fade-enter-active {
  opacity: 1;
  transform: translateX(0vw);
  transition: all 0.5s ease;
}

.fade-exit-active {
  opacity: 0;
  transform: translateX(100vw);
  transition: all 0.5s ease;
}
